* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
  color: #ebf1fb;
}

body img {
  position: absolute;
  width: 1280px;
  height: 832px;
}

section {
  text-align: center;
  position: relative;
  top: 275px;
}

h1 {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-size: 64px;
}

h1 span {
  color: #5eead4;
}

p {
    font-family: 'Spectral', serif;
  font-size: 20px;
  line-height: 30px;
  margin: 4px 0 72px 0;
  font-weight: 500;
}

a {
  color: #ebf1fb;
  text-decoration: none;
  font-size: 24px;
  padding: 8px 32px;
  text-decoration:underline;
  font-weight: 600;
}

.color-button {
color: #0B0C0E;
  background-color: #5eead4;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 24px;
}

.color-button:hover {
  background-color: #3cbca9;
}
